.ProductList {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.Loading {
    height: calc(100vh - 200px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.Title {
    font-weight: 700;
    font-size: var(--font-size-l);
}

.Empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
}