.PageLoader {
    min-height: calc(100vh - var(--navbar-height));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.Modal {
    width: 564px;
}

@media (max-width: 744px) {
    .Modal {
        max-width: 400px
    }
}

@media (max-width: 480px) {
    .Modal {
        max-width: 300px;
    }  
}