:root {
    // fonts
    --font-family-main: consolas, "Times New Roman", serif;
    --font-size-s: 14px;
    --font-size-m: 16px;
    --font-size-l: 18px;
    --font-size-xl: 20px;
    --font-size-xxl: 24px;
    --font-primary-color:#494949;
    --font-secondary-color: #5458EA;

    // sizes
    --navbar-height: 84px;

    --background-primary-color: #F0F0F0;
    --background-secondary-color: #5458EA; 
    --card-bg: #fff;
}