:root {
    // fonts
    --font-family-main: consolas, "Times New Roman", serif;
    --font-size-s: 14px;
    --font-size-m: 16px;
    --font-size-l: 18px;
    --font-primary-color:#494949;
    --font-secondary-color: #5458EA;

    // sizes
    --navbar-height: 84px;

    --background-color: #F0F0F0;
}