.ModalWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* полупрозрачный цвет фона */
  backdrop-filter: blur(5px); /* размытие фона */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; /* убедитесь, что ваш фон находится поверх других элементов */
}