.Button {
    cursor: pointer;
    color: var(--font-secondary-color);
    transition: .4s all;
    width: auto;
}

.contained {
    color: #fff;
    background-color: #5458EA;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-weight: 700;
}

.contained_with_width {
    color: #fff;
    background-color: #5458EA;
    border: none;
    border-radius: 20px;
    padding: 20px 0;
    font-weight: 700;
}

.disabled {
    color: #000;
    background-color:#d7d7d7;
    border: none;
    border-radius: 20px;
    padding: 10px 0;
    font-weight: 700;
}

.outlined {
    color: #000;
    background-color:#fff;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-weight: 700;
}

.cleaned {
    border: none;
    border-radius: 12px;
    text-decoration: none;
    font-size: var(--font-size-s);
}

.action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 10px;
    border: none;
    border-radius: 14px;
    background-color: #fff;
    color: #000;
}

.action:hover {
    transition: all .3s linear;
    background-color: #F7F6F9;
}

.contained_red {
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 6px 10px;
    font-weight: 700;
    background-color: #EA6A71;
}

.contained_green {
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 6px 10px;
    font-weight: 700;
    background-color: #4c9e6e;
}

.logout:hover {
    background-color: var(--background-primary-color);
}

.logout div {
    display: flex;
    align-items: center;
    gap: 9px;
}

.fullWidth {
    width: 100%;
}
