.Sidebar {
    position: relative;
    height: 100vh;
    width: 540px;
    padding: 24px 42px;
    background-color: #fff;
}

.Profile {
    display: flex;

    &_wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 12px;
        text-decoration: none;
        color: #000;
    }

    &_img {
        width: 60px;
        height: 60px;
        border: none;
        border-radius: 50%;
        background-color: var(--background-primary-color);
    }

    &_info {
        display: flex;
        flex-direction: column;
    
        &_name {
            font-size: var(--font-size-l);
            font-weight: 500;
        }
    }

}

.Profile a {
    text-decoration: none;
} 

.Links {
    display: flex;
    flex-direction: column;
    padding-top: 44px;
    gap: 10px;

    &_item {
        display: flex;
        justify-content: space-between;
        padding: 6px 10px;
        border-radius: 14px;
        text-decoration: none;
        color: #000;

        &_text {
            display: flex;
            align-items: center;
            gap: 9px;
        }
    }
}

.Links button {
    margin-top: 40px;
}

.Links_item:hover {
    transition: all .3s linear;
    background-color: #F7F6F9;
}

.Modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px;
    gap: 10px;

    &_title {
        text-align: center;
        font-size: var(--font-size-m);
        width: 70%;
    }
}