.NotFoundPage {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font: var(--font-size-l);

    &_content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}