
.Image {
    width: 532px;
    max-height: 319px;
}

.Card {
    width: 154px;
    height: 100px;
}

@media (max-width: 744px) {
    .Image {
        max-width: 400px;
    }   
}

@media (max-width: 480px) {
    .Image {
        max-width: 300px;
    }  
}