.Form {
    display: flex;
    flex-direction: column;
    width: 335px;

    &_input {
        
        &_username {
            margin-bottom: 47px;
        }

        &_email {
            margin-bottom: 70px;
        }
    }

    &_forgot {
        padding-top: 20px;
        padding-bottom: 49px;

        &_link {
            text-decoration: none;
            color: var(--font-secondary-color);
            font-size: var(--font-size-s);
        }
    }

    &_info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 50px;
        text-align: center;
        gap: 10px;
    }
    &_info img {
        padding: 20px 24px;
        background-color: var(--background-secondary-color);
        border-radius: 20px;
    }

    &_info div {
        font-weight: 500px;
        font-size: var(--font-size-xl);
    }

    &_info p {
        font-weight: 400;
        color: #C0C0C0;
        font-size: var(--font-size-m);
    }
}

.Error {
    color: #ff3333;
    font-size: var(--font-size-s);
}

.Register {
    display: flex;
    justify-content: center;
    padding-top: 70px; 

    &_link {
        text-decoration: none;
        color: var(--font-secondary-color);
    }
}