.Input {
    width: 230px;
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    color: rgba(73, 73, 73, 1);
    border: none;
    outline: none; 
    
    &::placeholder{
        color: gray;
    } 

     &:focus {
        outline: none;
    }
}