
.Avatar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.Image {
    width: 150px;
    height: 150px;
    border: none;
    border-radius: 50%;
    background-color: var(--background-secondary-color);
}