.Images {
    width: 142px;

    &_absent {
        width: 142px;
        // width: 154px;
        height: 85px;
        background-color: gray;
        display: flex;
        align-items: center;
        text-align: center;
        font-size: var(--font-size-s);
    }
}

.InfoWrapper {
    display: flex;
    flex-direction: column;
    padding-top: 4px;
    gap: 4px;
}

.Name {
    font-size: var(--font-size-s);
}

.Price {
    font-size: var(--font-size-s);
    color: var(--font-secondary-color)
}

.Likes {
    display: flex;
    gap: 10px;
}