.Images {
    // width: 150px;
    object-fit: cover;

    &_absent {
        border-radius: 10px;
        flex-grow: 1;
        width: 100%;
        background-color: gray;
        display: flex;
        align-items: center;
        text-align: center;
        font-size: var(--font-size-s);
    }
}

.InfoWrapper {
    display: flex;
    flex-direction: column;
    padding-top: 4px;
    gap: 4px;
}

.Name {
    font-size: var(--font-size-s);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.Price {
    font-size: var(--font-size-s);
    color: var(--font-secondary-color)
}

.Likes_wrapper {
    display: flex;
    justify-content: space-between;
}

.Likes {
    display: flex;
    gap: 10px;
}

.Likes img {
    cursor: pointer;
}

.Details {
    cursor: pointer;
    margin-right: 10px;
    height: 20px;
    width: 15px;
}

.Dropdown {
    position: relative;
    display: inline-block;
}

.Option {
    img {
        padding: 4px;
        border-radius: 6px;
        background-color: var(--background-secondary-color);
    }
}

.Modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px;
    gap: 10px;

    &_title {
        text-align: center;
        font-size: var(--font-size-m);
        width: 70%;
    }
}

.Separator {
    content: '';
    display: block;
    width: 80%;
    height: 2px;
    margin: 0 auto;
    background-color: var(--background-primary-color);
}