.Header {
    // width: 100%;
    // max-width: 1440px;
    // margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--navbar-height);
    padding-left: 42px;
    padding-right: 42px;

    &_buttons {
        display: flex;
        align-items: center;
        gap: 50px;
    }
}