.Profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;

    &_img {
        width: 40px;
        height: 40px;
        border: none;
        border-radius: 50%;
        background-color: gray;
    }
    
}

.ProfileName {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 3px;
}

.Avatar {
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 50%;
}

@media (max-width: 744px) {
    .Profile {

        &Name {
            display: none;
        }
    }
    
}