.Profile {
    // padding: 0px 124px;
}

.UserInfo {
    background-color: #fff;
    padding: 8px 10px;
    border-radius: 12px;
    // display: flex;

    &_avatar {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 60px;
    }
}

.ContactInfo {
    margin-top: 12px;
    background-color: #fff;
    padding: 8px 10px;
    border-radius: 12px;

    &_phone {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.Loading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
}

.Error {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.FinishRegister {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 56px;
}